@charset "UTF-8";
@import url(../vender/reset.css);
b {
  font-weight: bold;
}

.link {
  color: #f7a9a9;
  text-decoration: underline;
}

.txt-red {
  color: #f50606;
}

.txt-bl {
  color: #121b62;
}

.mt-lg {
  margin-top: 100px !important;
}

.mt-md {
  margin-top: 50px !important;
}

.mt-sm {
  margin-top: 30px !important;
}

.mb-lg {
  margin-bottom: 100px !important;
}

.mb-s {
  margin-bottom: 10px !important;
}

.mr-s {
  margin-right: 10px !important;
}

.mt-s {
  margin-top: 10px !important;
}

.ml-s {
  margin-left: 10px !important;
}

.mb-l {
  margin-bottom: 20px !important;
}

.mr-l {
  margin-right: 20px !important;
}

.mt-l {
  margin-top: 20px !important;
}

.ml-l {
  margin-left: 20px !important;
}

.pt-l {
  padding-top: 100px !important;
}

.dot-back {
  position: relative;
}

.dot-back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 110%;
  background-size: 8px 8px;
  margin: 0 auto;
  background-image: url(../images/dot-bg.svg);
  opacity: 0.8;
  z-index: -2;
}

.dot-back.dot-back-1::before {
  width: calc(100% / 1.8);
  right: 12%;
}

.dot-back.dot-back-2::before, .dot-back.dot-back-3::before {
  width: calc(100% / 1.3);
  left: 0;
  top: -50px;
  height: 1400px;
}

.dot-back.dot-back-3::before {
  height: 115%;
}

.indent-1 {
  padding-left: 1em;
  text-indent: -1em;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

a {
  text-decoration: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.a-hover {
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  display: block;
}

.a-hover:hover {
  opacity: 0.7;
}

.f-right {
  float: right;
}

.d-none {
  display: none;
}

.cf::after {
  content: '';
  display: block;
  clear: both;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  margin: 0;
}

body {
  color: #5a5a5a;
  line-height: 1.7;
}

.shadowtype-a {
  -webkit-box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 3px 30px 0px rgba(0, 0, 0, 0.16);
}

.mt-0 {
  margin-top: 0 !important;
}

html,
body {
  font-family: '游ゴシック体', YuGothic, '游ゴシック Medium', 'Yu Gothic Medium', '游ゴシック', 'Yu Gothic', 'ヒラギノ角ゴ Pro W3', 'メイリオ', sans-serif;
  font-weight: normal;
}

html {
  font-size: 62.5%;
}

html body {
  font-size: 1.8em;
}

b {
  font-weight: bold;
}

.link {
  color: #f7a9a9;
  text-decoration: underline;
}

.txt-red {
  color: #f50606;
}

.txt-bl {
  color: #121b62;
}

.mt-lg {
  margin-top: 100px !important;
}

.mt-md {
  margin-top: 50px !important;
}

.mt-sm {
  margin-top: 30px !important;
}

.mb-lg {
  margin-bottom: 100px !important;
}

.mb-s {
  margin-bottom: 10px !important;
}

.mr-s {
  margin-right: 10px !important;
}

.mt-s {
  margin-top: 10px !important;
}

.ml-s {
  margin-left: 10px !important;
}

.mb-l {
  margin-bottom: 20px !important;
}

.mr-l {
  margin-right: 20px !important;
}

.mt-l {
  margin-top: 20px !important;
}

.ml-l {
  margin-left: 20px !important;
}

.pt-l {
  padding-top: 100px !important;
}

.dot-back {
  position: relative;
}

.dot-back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 110%;
  background-size: 8px 8px;
  margin: 0 auto;
  background-image: url(../images/dot-bg.svg);
  opacity: 0.8;
  z-index: -2;
}

.dot-back.dot-back-1::before {
  width: calc(100% / 1.8);
  right: 12%;
}

.dot-back.dot-back-2::before, .dot-back.dot-back-3::before {
  width: calc(100% / 1.3);
  left: 0;
  top: -50px;
  height: 1400px;
}

.dot-back.dot-back-3::before {
  height: 115%;
}

.indent-1 {
  padding-left: 1em;
  text-indent: -1em;
}

b {
  font-weight: bold;
}

.link {
  color: #f7a9a9;
  text-decoration: underline;
}

.txt-red {
  color: #f50606;
}

.txt-bl {
  color: #121b62;
}

.mt-lg {
  margin-top: 100px !important;
}

.mt-md {
  margin-top: 50px !important;
}

.mt-sm {
  margin-top: 30px !important;
}

.mb-lg {
  margin-bottom: 100px !important;
}

.mb-s {
  margin-bottom: 10px !important;
}

.mr-s {
  margin-right: 10px !important;
}

.mt-s {
  margin-top: 10px !important;
}

.ml-s {
  margin-left: 10px !important;
}

.mb-l {
  margin-bottom: 20px !important;
}

.mr-l {
  margin-right: 20px !important;
}

.mt-l {
  margin-top: 20px !important;
}

.ml-l {
  margin-left: 20px !important;
}

.pt-l {
  padding-top: 100px !important;
}

.dot-back {
  position: relative;
}

.dot-back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 110%;
  background-size: 8px 8px;
  margin: 0 auto;
  background-image: url(../images/dot-bg.svg);
  opacity: 0.8;
  z-index: -2;
}

.dot-back.dot-back-1::before {
  width: calc(100% / 1.8);
  right: 12%;
}

.dot-back.dot-back-2::before, .dot-back.dot-back-3::before {
  width: calc(100% / 1.3);
  left: 0;
  top: -50px;
  height: 1400px;
}

.dot-back.dot-back-3::before {
  height: 115%;
}

.indent-1 {
  padding-left: 1em;
  text-indent: -1em;
}

@-webkit-keyframes nav-lide-anim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes nav-lide-anim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.cover-slide-txt {
  position: relative;
  display: inline-block;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.cover-slide-txt::before {
  content: '';
  position: absolute;
  background-color: #121b62;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.cover-slide-txt.active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.cover-slide-txt.active::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.cover-slide-img {
  left: -100px;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cover-slide-img.active {
  opacity: 1;
  left: 0;
}

@-webkit-keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fade {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fade.fade-up {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fade.fade-down {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.fade.fade-right {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.fade.fade-left {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.fade.fade-rotate {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(50px) rotate(365deg);
          transform: translateY(50px) rotate(365deg);
}

.fade.fade-scale {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fade.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.header {
  overflow: hidden;
  background-color: #45b7ff;
  color: white;
  width: calc(100% - 111px);
  position: fixed;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: 0.3s cubic-bezier(0.9, 0, 0, 1);
  transition: 0.3s cubic-bezier(0.9, 0, 0, 1);
  z-index: 9999;
}

.header a {
  text-decoration: none;
  color: white;
}

.header.nav-active {
  -webkit-transform: none;
          transform: none;
}

.header-inner {
  height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.header-side {
  width: 111px;
  background-color: #45b7ff;
  height: 100vh;
  -ms-flex-preferred-size: 111px;
      flex-basis: 111px;
  position: fixed;
  right: 0;
  z-index: 1;
}

.header-side__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.header-side__inner .nav-btn {
  width: 38px;
}

.header-side__inner .nav-btn:hover {
  cursor: pointer;
}

.header-side__inner .nav-btn .nav-btn-inner {
  height: 18px;
  position: relative;
}

.header-side__inner .nav-btn .nav-btn-inner > span {
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: #fff;
  display: block;
  -webkit-transition: 0.3s cubic-bezier(0.9, 0, 0, 1);
  transition: 0.3s cubic-bezier(0.9, 0, 0, 1);
}

.header-side__inner .nav-btn .nav-btn-inner > span:nth-child(2), .header-side__inner .nav-btn .nav-btn-inner > span:nth-child(3) {
  width: 80%;
}

.header-side__inner .nav-btn .nav-btn-inner > span:nth-child(2) {
  top: 8px;
}

.header-side__inner .nav-btn .nav-btn-inner > span:nth-child(3) {
  bottom: 0;
}

.header-side__inner .nav-btn .nav-btn-txt {
  width: 80%;
}

.nav-btn.burger-open .nav-btn-inner {
  position: relative;
}

.nav-btn.burger-open .nav-btn-inner > span:nth-child(1) {
  opacity: 0;
}

.nav-btn.burger-open .nav-btn-inner > span:nth-child(2) {
  -webkit-transform: rotate(-45deg) translate(-6px, 4px);
          transform: rotate(-45deg) translate(-6px, 4px);
  top: 0;
}

.nav-btn.burger-open .nav-btn-inner > span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-6px, -6px);
          transform: rotate(45deg) translate(-6px, -6px);
}

nav {
  position: relative;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .header-bg-image {
  width: 80%;
  position: absolute;
  bottom: -30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-image: url(../images/nav-back-logo.svg);
  height: calc(100% - 80px);
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.nav-container {
  width: 100%;
  padding: 0 5%;
  top: 10%;
  position: absolute;
}

.nav-container > h1 {
  margin-bottom: 30px;
  width: 340px;
}

.nav-container .nav-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-container .nav-outer > li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 33.33%;
          flex: 0 1 33.33%;
}

.nav-container .nav-outer > li:nth-child(1) > p,
.nav-container .nav-outer > li:nth-child(2) > p,
.nav-container .nav-outer > li:nth-child(4) > p {
  position: relative;
  padding-left: 25px;
}

.nav-container .nav-outer > li:nth-child(1) > p::before,
.nav-container .nav-outer > li:nth-child(2) > p::before,
.nav-container .nav-outer > li:nth-child(4) > p::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/nav-arrow.svg);
}

.nav-container .nav-outer > li:not(:last-child) {
  margin-bottom: 20px;
}

.nav-container .nav-outer > li > p {
  font-size: 2rem;
}

.nav-container .nav-outer > li > p:not(:last-child) {
  margin-bottom: 12px;
}

.nav-container .nav-outer > li > p > a {
  position: relative;
  display: block;
  padding-left: 25px;
}

.nav-container .nav-outer > li > p > a::before {
  content: '';
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/nav-arrow.svg);
}

.nav-inner > li {
  margin-bottom: 7px;
  opacity: 0;
}

@media screen and (max-width: 1400px) {
  .nav-inner > li {
    margin-bottom: 5px;
  }
}

.nav-inner > li a {
  position: relative;
  display: inline-block;
}

.nav-inner > li a::after {
  position: absolute;
  content: '';
  width: 0;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #fff;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

.nav-inner > li a:hover::after {
  width: 100%;
}

footer .nav-inner > li {
  opacity: 1;
}

.footer-top .btn:hover {
  color: #121b62;
}

footer {
  background-color: #121b62;
  color: #fff;
}

footer a {
  color: #fff;
}

footer .container {
  padding: 0 0 45px 0;
}

footer .nav-outer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .nav-outer > li p {
  font-size: 1.3rem;
  margin-bottom: 15px;
}

footer .nav-outer > li:last-child .nav-inner {
  font-size: 1.3rem;
}

footer .nav-outer > li:not(:last-child) .nav-inner {
  border-left: 1px solid #fff;
}

footer .nav-outer > li .nav-inner {
  font-size: 1rem;
  padding-left: 15px;
}

.footer__copy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.footer__copy > div:nth-child(1) p {
  font-size: 1rem;
}

.footer__copy > div:nth-child(2) {
  width: 340px;
}

.footer__copy > div:nth-child(2) p {
  font-size: 1.3rem;
  text-align: right;
}

.footer-top {
  width: 410px;
  top: -140px;
  position: absolute;
  right: 0;
}

.footer-top .btn {
  width: 100%;
}

.footer-top > ul {
  font-weight: bold;
  font-size: 1.9rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15px;
}

.footer-top > ul li:last-child {
  margin-left: 30px;
}

b {
  font-weight: bold;
}

.link {
  color: #f7a9a9;
  text-decoration: underline;
}

.txt-red {
  color: #f50606;
}

.txt-bl {
  color: #121b62;
}

.mt-lg {
  margin-top: 100px !important;
}

.mt-md {
  margin-top: 50px !important;
}

.mt-sm {
  margin-top: 30px !important;
}

.mb-lg {
  margin-bottom: 100px !important;
}

.mb-s {
  margin-bottom: 10px !important;
}

.mr-s {
  margin-right: 10px !important;
}

.mt-s {
  margin-top: 10px !important;
}

.ml-s {
  margin-left: 10px !important;
}

.mb-l {
  margin-bottom: 20px !important;
}

.mr-l {
  margin-right: 20px !important;
}

.mt-l {
  margin-top: 20px !important;
}

.ml-l {
  margin-left: 20px !important;
}

.pt-l {
  padding-top: 100px !important;
}

.dot-back {
  position: relative;
}

.dot-back::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 110%;
  background-size: 8px 8px;
  margin: 0 auto;
  background-image: url(../images/dot-bg.svg);
  opacity: 0.8;
  z-index: -2;
}

.dot-back.dot-back-1::before {
  width: calc(100% / 1.8);
  right: 12%;
}

.dot-back.dot-back-2::before, .dot-back.dot-back-3::before {
  width: calc(100% / 1.3);
  left: 0;
  top: -50px;
  height: 1400px;
}

.dot-back.dot-back-3::before {
  height: 115%;
}

.indent-1 {
  padding-left: 1em;
  text-indent: -1em;
}

#scroll_link02 {
  position: fixed;
  left: 50%;
  z-index: 10000;
}

#scroll_link02 {
  width: 120px;
  bottom: 100px;
  margin-left: -60px;
  text-align: center;
}

.font_khand {
  color: #15303f;
}

#scroll_link02 .bar_wrap {
  display: block;
  width: 2px;
  height: 80px;
  background-color: rgba(222, 220, 202, 0.7);
  position: absolute;
  left: 50%;
  margin-left: -1px;
  top: 30px;
  overflow: hidden;
}

#scroll_link02 .bar_wrap_inner {
  width: 100%;
  height: 100%;
  background-color: #15303f;
  display: block;
  position: absolute;
  left: 0;
  top: 100%;
  -webkit-animation: sdb 3.5s infinite;
          animation: sdb 3.5s infinite;
}

@media screen and (max-width: 768px) {
  #scroll_link02 {
    bottom: 55px;
  }
  #scroll_link02 .bar_wrap {
    height: 40px;
  }
}

@-webkit-keyframes sdb {
  0% {
    -webkit-transform: translate(0, -200%);
            transform: translate(0, -200%);
  }
  35%,
  65% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

@keyframes sdb {
  0% {
    -webkit-transform: translate(0, -200%);
            transform: translate(0, -200%);
  }
  35%,
  65% {
    -webkit-transform: translate(0, -100%);
            transform: translate(0, -100%);
  }
  100% {
    -webkit-transform: translate(0, 0);
            transform: translate(0, 0);
  }
}

.footer_anc {
  display: block;
  width: 80px;
  border-top: 2px solid #fff;
  position: absolute;
  right: 0;
  top: -40px;
  font-size: 12px;
  font-size: 1.2rem;
  text-align: left;
  color: #fff;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}

.footer_anc::before {
  content: '';
  position: absolute;
  width: 2px;
  height: 20px;
  background-color: #fff;
  right: 0;
  top: -22px;
  -webkit-transform: rotate(-60deg);
          transform: rotate(-60deg);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
}

.footer_anc:hover {
  color: #45b7ff;
}

@keyframes nav-lide-anim {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.cover-slide-txt {
  position: relative;
  display: inline-block;
  -webkit-transform-origin: left;
          transform-origin: left;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.cover-slide-txt::before {
  content: '';
  position: absolute;
  background-color: #121b62;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-transform-origin: right;
          transform-origin: right;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.cover-slide-txt.active {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.cover-slide-txt.active::before {
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition-delay: 0.5s;
          transition-delay: 0.5s;
}

.cover-slide-img {
  left: -100px;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.cover-slide-img.active {
  opacity: 1;
  left: 0;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    -webkit-transform: translateX(-50px);
            transform: translateX(-50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

.fade {
  opacity: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.fade.fade-up {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
}

.fade.fade-down {
  -webkit-transform: translateY(-50px);
          transform: translateY(-50px);
}

.fade.fade-right {
  -webkit-transform: translateX(50px);
          transform: translateX(50px);
}

.fade.fade-left {
  -webkit-transform: translateX(-50px);
          transform: translateX(-50px);
}

.fade.fade-rotate {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: translateY(50px) rotate(365deg);
          transform: translateY(50px) rotate(365deg);
}

.fade.fade-scale {
  -webkit-transition: 1s;
  transition: 1s;
  -webkit-transform: scale(0);
          transform: scale(0);
}

.fade.active {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}

.global-container {
  overflow: hidden;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

@media screen and (max-width: 1400px) {
  .container {
    max-width: 1000px;
  }
}

.main, footer {
  width: calc(100% - 111px);
}

h1 {
  font-size: 2rem;
}

p {
  font-size: 1.7rem;
  text-align: justify;
}

.title-blue {
  color: #121b62;
}

.hero-container {
  height: 100vh;
}

.hero-container__contents {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: none;
  height: 100vh;
}

.news-container__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 35px;
  margin-bottom: 35px;
}

.news-container__list li {
  position: relative;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 30%;
          flex: 0 1 30%;
}

.news-container__list li > a {
  display: block;
  color: #5a5a5a;
}

.news-container__list li > a:hover {
  opacity: 0.7;
}

.news-container__list li:not(:last-child)::after {
  position: absolute;
  content: '';
  top: 0;
  right: -9%;
  width: 1px;
  height: 100%;
  background-color: #b5b5b5;
}

.news-img,
.news-date {
  margin-bottom: 15px;
}

.news-img span,
.news-date span {
  margin-left: 20px;
}

.content-innner {
  padding: 45px;
}

.news-description {
  font-size: 1.7rem;
  font-weight: bold;
}

.news-container__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
}

.news-container__title img {
  width: 84px;
}

.news-container__title .news-subtitle {
  border-left: 1px solid #121b62;
  padding-left: 25.5px;
  margin-left: 45px;
}

.btn {
  width: 194px;
  border-radius: 20px;
  background-color: #45b7ff;
  color: #fff;
  display: block;
  padding: 7px 0;
  font-size: 1.4rem;
  text-align: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn:hover {
  background-color: #fff;
  color: #45b7ff;
}

.btn.btn-arrow {
  position: relative;
  text-align: left;
  padding-left: 40px;
  border: 1px solid #45b7ff;
}

.btn.btn-arrow::before, .btn.btn-arrow::after, .btn.btn-arrow.btn-blue::after, .btn.btn-arrow.btn-blue::before {
  position: absolute;
  content: '';
  top: 50%;
  right: 20%;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  height: 1px;
  width: 31px;
  background-color: #fff;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn.btn-arrow:hover::before, .btn.btn-arrow:hover::after {
  background-color: #45b7ff;
  -webkit-transform: translate(10px, 0);
          transform: translate(10px, 0);
}

.btn.btn-arrow::after, .btn.btn-arrow.btn-blue::after {
  -webkit-transform: rotate(45deg) translate(0, 0);
          transform: rotate(45deg) translate(0, 0);
  width: 10.33333px;
  top: 39%;
  right: 19%;
}

.btn.btn-arrow:hover::after {
  -webkit-transform: rotate(45deg) translate(0, 0);
          transform: rotate(45deg) translate(0, 0);
  right: 14%;
}

.btn.btn-arrow.btn-blue {
  border: 1px solid #121b62;
  background-color: #fff;
  color: #121b62;
  text-align: center;
  padding: 7px;
}

.btn-blue.btn.btn-arrow::after, .btn-blue.btn.btn-arrow::before {
  background-color: #121b62;
  right: 20px;
}

.btn-blue.btn.btn-arrow::after {
  top: 40%;
  right: 18px;
}

.btn-blue.btn.btn-arrow:hover::after {
  right: 8px;
}

.aboutus-inner {
  padding: 0;
  text-align: center;
}

.aboutus-inner .aboutus-logo {
  width: 74px;
  margin: 0 auto;
}

.aboutus-inner h2 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 28px;
  margin-top: 6px;
}

.aboutus-inner p {
  text-align: center;
}

.aboutus-container {
  position: relative;
}

.aboutus-container::before {
  content: '';
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/top-aboutus-bg.png);
  width: 100%;
  height: 12.98701vw;
  top: -4%;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
}

.section {
  margin-bottom: 200px;
}

.section.section1 {
  margin-top: 100px;
}

.section.section1 > .container {
  background-color: #fff;
}

.section.section2 {
  margin-bottom: 100px;
}

.section.section3 {
  margin-bottom: 200px;
}

.section.service-wapper {
  margin-bottom: 160px;
}

.section.section6, .section.recruit-wapper {
  margin-bottom: 90px;
}

.section-contents__inner {
  overflow: hidden;
  width: 540px;
  padding: 75px;
  margin-top: 120px;
  background-color: #fff;
}

@media screen and (max-width: 1400px) {
  .section-contents__inner {
    padding: 52.5px;
    margin-top: 84px;
    width: 459px;
  }
}

.section-contents__inner h2 {
  width: auto;
  height: 48px;
}

.section-contents__inner h2 img {
  height: 100%;
  width: auto;
}

.section-contents__inner h3 {
  font-size: 2.8rem;
  font-weight: bold;
  color: #000;
  margin-top: 112.5px;
}

.section-contents__inner p {
  margin-top: 43.35px;
  margin-bottom: 25.5px;
}

.section-contents__inner p.m-fix {
  margin-bottom: 51px;
}

.section-contents__inner p.servece-mb {
  margin-bottom: 56.1px;
}

.sub-copy {
  color: #121b62;
  font-size: 1.8rem;
  margin-top: 17.85px;
}

.section4__inner .section-contents__inner {
  padding-top: 90px;
  padding-bottom: 90px;
}

.section3 {
  position: relative;
}

.section3::before, .section-bg-img::before {
  content: '';
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/top_main1.jpg);
  min-height: 560px;
  width: 100%;
  z-index: -1;
}

.section-bg-img {
  position: relative;
}

.section-bg-img::before {
  background-image: url(../images/top-section-bg.png);
  width: 420px;
  right: -13%;
  top: 40.5px;
  z-index: 0;
  background-size: contain;
  background-position: top right;
}

.section-bg-img.main-about::before {
  right: 0;
  width: calc(100% / 2.5);
}

.service .section-bg-img {
  position: relative;
}

.service .section-bg-img::before {
  width: 370px;
  right: inherit;
  left: 11%;
  top: 11%;
}

.recruit-wapper .section-bg-img::before {
  right: -17%;
}

.section4__inner {
  width: calc(100% - 185px);
  background-color: #fff;
}

.bg-color-none {
  background-color: transparent;
}

.service-img {
  padding-top: 75px;
  z-index: 1;
  position: relative;
}

.service-img ul {
  display: block;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 607px;
  padding-top: 20px;
}

.service-img ul li {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/top_main2_1.jpg);
  width: 100%;
  height: 300px;
}

.service-img ul li:nth-child(2) {
  background-image: url(../images/top_main2_2.jpg);
  margin-top: 35px;
}

.service-img ul li {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/top_main2_1.jpg);
  width: 100%;
  height: 300px;
}

.service-img ul li:nth-child(2) {
  background-image: url(../images/top_main2_2.jpg);
  margin-top: 35px;
}

.service-img.recruit-img ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 645px;
  height: 590px;
}

.service-img.recruit-img ul li {
  width: 47%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/top_main3_1.jpg);
}

.service-img.recruit-img ul li:nth-child(2) {
  background-image: url(../images/top_main3_2.jpg);
  margin-top: 0;
}

.section6__inner a {
  padding: 45px;
  width: 755px;
  background-color: #fff;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section6__inner a p {
  color: #121b62;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.section6__inner a > div {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.section6__inner a > div:nth-child(2) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 40%;
          flex: 0 1 40%;
}

.section7 {
  margin-bottom: 300px;
  position: relative;
  z-index: 1;
}

.section7__inner {
  color: #fff;
  height: 283px;
}

.section7__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

.section7__inner ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  position: relative;
  overflow: hidden;
}

.section7__inner ul li::after {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.section7__inner ul li:hover::after {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.section7__inner ul li:nth-child(1)::after {
  background-image: url(../images/top_main4_1.jpg);
}

.section7__inner ul li:nth-child(2)::after {
  background-image: url(../images/top_main4_2.jpg);
}

.section7__inner ul li a {
  padding: 45px;
  display: block;
  color: #fff;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.section7__inner ul li a:hover h2::after {
  width: 135px;
}

.section7__inner ul li a p {
  font-size: 1.8rem;
}

.section7__inner ul li a h2 {
  position: relative;
  height: 27px;
  width: auto;
  margin-top: 15px;
}

.section7__inner ul li a h2::after {
  content: '';
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 45px;
  height: 2px;
  background-color: #fff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.section7__inner ul li a h2 img {
  width: auto;
}

.service-wapper {
  position: relative;
  height: 826px;
}

.service {
  background-color: #fff;
  position: absolute;
  right: 5vw;
  top: 0;
  z-index: 2;
  height: 100%;
  width: 200%;
}

.service-contents {
  position: absolute;
  margin: 0 auto;
  right: -5vw;
  width: 1200px;
}

@media screen and (max-width: 1400px) {
  .service-contents {
    padding-left: 100px;
  }
}

.service-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.recruit-container {
  background-color: #fff;
  float: right;
  width: 1100px;
}

.recruit-container .recruit-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  left: -100px;
  position: relative;
}

.diagonal {
  position: relative;
}

.diagonal::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 0;
  z-index: -1;
}

.diagonal.footer-diagonal::before {
  top: -400px;
  border-style: solid;
  border-width: 0 0 400px calc(100vw - 111px);
  border-color: transparent transparent #121b62 transparent;
}

.diagonal.bg-diagonal::before, .diagonal.bg-diagonal::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 600px 600px 0 0;
  border-color: #ffffff transparent transparent transparent;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  top: -290px;
  left: 0;
  z-index: 0;
}

@media screen and (min-width: 1401px) {
  .diagonal.bg-diagonal::before, .diagonal.bg-diagonal::after {
    top: -515px;
  }
}

.diagonal.bg-diagonal::after {
  left: inherit;
  -webkit-transform: rotate(-180deg);
          transform: rotate(-180deg);
  right: 0;
  top: inherit;
  bottom: 0;
}

.btn-type-b {
  border: 1px solid #fff;
  background-color: transparent;
}

.btn-type-c {
  border: 2px solid #f7a9a9;
  background-color: transparent;
  color: #f7a9a9;
  width: inherit;
  display: inline;
  padding: 5px 12px;
  pointer-events: none;
}

.top-bg.top-bg-1 {
  top: 170px;
  position: relative;
}

.top-bg__inner {
  position: relative;
}

.top-bg__inner::before, .top-bg.top-bg-2 .top-bg__inner::before {
  content: '';
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/top-bg1.jpg);
  width: 100%;
  height: 1020px;
  top: -280px;
  opacity: 0.5;
  z-index: -1;
}

@media screen and (min-width: 1401px) {
  .top-bg__inner::before, .top-bg.top-bg-2 .top-bg__inner::before {
    height: 1250px;
    top: -510px;
  }
}

.top-bg.top-bg-2 .top-bg__inner::before {
  background-image: url(../images/top-bg2.jpg);
  height: 1300px;
  top: -350px;
  background-position: top center;
}

.main-about {
  padding-top: 85px;
  margin-bottom: 400px;
}

.main-about .aboutus-inner {
  margin-bottom: 60px;
}

.main-about .aboutus-inner h2 {
  width: auto;
  height: 48px;
  max-height: 48px;
  margin: 20px auto 10px auto;
}

.main-about .aboutus-inner h2 img {
  height: 100%;
}

.main-about .aboutus-inner p {
  font-size: 2.5rem;
  font-weight: bold;
  color: #121b62;
}

.service__container {
  position: relative;
  height: 700px;
}

.service__container::before {
  content: '';
  position: absolute;
  width: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/business2.jpg);
  height: 557px;
  top: 50px;
}

.service__container .service__inner {
  height: 80%;
}

.service__container .service__inner h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__container .service__inner h1 img {
  max-width: 520px;
  margin-right: 70px;
  padding-right: 70px;
  border-right: 1px solid #121b62;
}

.service__container .service__inner h1 span {
  color: #121b62;
  font-size: 2.5rem;
  font-weight: bold;
}

.service__container .service__inner .service__copy {
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
}

.service__container .service__inner .service__copy p {
  display: inline-block;
  background-color: #fff;
  color: #000;
  padding: 0 10px;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
}

.card {
  z-index: 0;
  margin-bottom: 150px;
}

.card.card-left {
  position: relative;
}

.card__inner {
  padding: 0 60px 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

.card__inner.card__inner-left, .servece__inner_left {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  float: right;
  padding-right: 0;
  padding-left: 60px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.card__inner.card__inner-left::before, .servece__inner_left::before {
  right: 0;
  width: 93.5%;
}

.card__inner::before {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #fff;
  width: 95%;
  height: 90%;
  z-index: -1;
}

.card__inner .card_img {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/business3.jpg);
  -webkit-box-flex: 0;
      -ms-flex: 0 1 67%;
          flex: 0 1 67%;
  height: 510px;
}

.card__inner .card_img.card_img2, .card__inner .card_img.card_img4 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 57%;
          flex: 0 1 57%;
  margin-left: 3%;
}

.card__inner .card_img.card_img2 {
  background-image: url(../images/business4.jpg);
}

.card__inner .card_img.card_img3 {
  background-image: url(../images/business5.jpg);
}

.card__inner .card_img.card_img4 {
  background-image: url(../images/business6.jpg);
}

.card__inner .card__txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 27%;
          flex: 0 1 27%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__inner .card__txt__top {
  -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
          writing-mode: vertical-rl;
  font-weight: bold;
  color: #000;
}

.card__inner .card__txt__top p {
  display: inline-block;
  font-size: 2rem;
  line-height: 1;
}

.card__inner .card__txt__top p:not(:first-child) {
  margin-right: 15px;
}

.card__inner .card__txt__top p.card__txt__big {
  font-size: 8rem;
  line-height: 1;
}

.card__inner .card__txt__top.card__txt__top2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.card__inner .card__txt__top.card__txt__top2 p {
  margin: 0;
}

.bg-txt {
  position: relative;
}

.bg-txt::after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bg-txt.bg-txt-blue::after {
  background-color: #45b7ff;
}

.bg-txt.card__en::after {
  right: 30%;
}

.business__inner .business__block {
  background-color: #121b62;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.business__inner .business__block .business__txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  padding: 0 80px;
}

.business__inner .business__block .business__txt .business__txt__inner {
  text-align: center;
}

.business__inner .business__block .business__txt .business__txt__inner h3 {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 10px;
  line-height: 1.5;
}

.business__inner .business__block .business__txt .business__txt__inner ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}

.business__inner .business__block .business__txt .business__txt__inner ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 48%;
          flex: 0 1 48%;
}

.business__inner .business__block .business__txt .business__txt__inner ul li:not(:nth-of-type(3)):not(:last-child) {
  margin-bottom: 15px;
}

.business__inner .business__block .business__txt .business__txt__inner ul li a {
  width: 100%;
  font-weight: bold;
}

.business__inner .business__block .business__img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 415px;
}

.business__inner .business__block:nth-child(1) .business__img {
  background-image: url(../images/business10.jpg);
}

.business__inner .business__block:nth-child(2) .business__img {
  background-image: url(../images/business11.jpg);
}

.business__inner .business__block:nth-child(2) .business__txt__inner ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.business__inner .business__block:nth-child(3) .business__img {
  background-image: url(../images/business12.jpg);
}

.business__inner .business__block:nth-child(3) .business__txt__inner ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.business__inner .business__block:nth-child(4) .business__img {
  background-image: url(../images/business13.jpg);
}

.business__inner .business__block:nth-child(4) .business__txt__inner ul li {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 100%;
          flex: 0 1 100%;
}

.business__inner .business__block:nth-child(2), .business__inner .business__block:nth-child(4) {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.business-bg {
  position: relative;
  width: 100%;
  z-index: -1;
}

.business-bg::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 850px;
  top: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/business-bg.jpg);
  background-position: top center;
}

.main-service .service__container {
  height: inherit;
}

.main-service .service__container::before {
  content: none;
}

.servece__section__container {
  margin-bottom: 300px;
}

.servece__section__container:last-child {
  margin-bottom: 600px;
}

.servece__section .servece__section__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.servece__section .servece__section__inner .service_img {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 42%;
          flex: 0 1 42%;
}

.servece__section .servece__section__inner .service_img div {
  height: 370px;
}

.servece__section .servece__section__inner .service_img div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph1.jpg);
}

.servece__section .servece__section__inner .service_img div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph2.jpg);
}

.servece__section .servece__section__inner .service_img.service_img2 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph3.jpg);
}

.servece__section .servece__section__inner .service_img.service_img2 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph4.jpg);
}

.servece__section .servece__section__inner .service_img.service_img3 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph5.jpg);
}

.servece__section .servece__section__inner .service_img.service_img3 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph6.jpg);
}

.servece__section .servece__section__inner .service_img.service_img4 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph7.jpg);
}

.servece__section .servece__section__inner .service_img.service_img4 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph8.jpg);
}

.servece__section .servece__section__inner .service_img.service_img5 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph9.jpg);
}

.servece__section .servece__section__inner .service_img.service_img5 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph10.jpg);
}

.servece__section .servece__section__inner .service_img.service_img6 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph11.jpg);
}

.servece__section .servece__section__inner .service_img.service_img6 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph12.jpg);
}

.servece__section .servece__section__inner .service_img.service_img7 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph13.jpg);
}

.servece__section .servece__section__inner .service_img.service_img7 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/service_ph14.jpg);
}

.servece__section .servece__section__inner .service_txt {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 53%;
          flex: 0 1 53%;
  position: relative;
  padding: 0 45px 45px 45px;
}

.servece__section .servece__section__inner .service_txt::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 88%;
  background-color: #fff;
  z-index: -1;
  top: 80px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.servece__section.test__section .servece__section__inner .service_img div:nth-child(1) {
  background-image: url(../images/test_ph1.jpg);
}

.servece__section.test__section .servece__section__inner .service_img div:nth-child(2) {
  background-image: url(../images/test_ph2.jpg);
}

.servece__section.test__section .servece__section__inner .service_img.service_img2 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/test_ph3.jpg);
}

.servece__section.test__section .servece__section__inner .service_img.service_img2 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/test_ph4.jpg);
}

.servece__section.test__section .servece__section__inner .service_img.service_img3 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/test_ph5.jpg);
}

.servece__section.test__section .servece__section__inner .service_img.service_img3 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/test_ph6.jpg);
}

.servece__section.test__section .servece__section__inner .service_img.service_img4 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/test_ph7.jpg);
}

.servece__section.test__section .servece__section__inner .service_img.service_img4 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/test_ph8.jpg);
}

.servece__section.test__section .servece__section__inner .service_img.service_img5 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/test_ph9.jpg);
}

.servece__section.test__section .servece__section__inner .service_img.service_img5 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/test_ph10.jpg);
}

.servece__section.mea__section .servece__section__inner .service_img div:nth-child(1) {
  background-image: url(../images/mea_ph1.jpg);
}

.servece__section.mea__section .servece__section__inner .service_img div:nth-child(2) {
  background-image: url(../images/mea_ph2.jpg);
}

.servece__section.mea__section .servece__section__inner .service_img.service_img2 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/mea_ph3.jpg);
}

.servece__section.mea__section .servece__section__inner .service_img.service_img2 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/mea_ph4.jpg);
}

.servece__section.mea__section .servece__section__inner .service_img.service_img3 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/mea_ph5.jpg);
}

.servece__section.mea__section .servece__section__inner .service_img.service_img3 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/mea_ph6.jpg);
}

.servece__section.mea__section .servece__section__inner .service_img.service_img4 div:nth-child(1) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/mea_ph7.jpg);
}

.servece__section.mea__section .servece__section__inner .service_img.service_img4 div:nth-child(2) {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/mea_ph8.jpg);
}

.servece__section.ins__section .servece__section__inner .service_img div:nth-child(1) {
  background-image: url(../images/ins_ph1.jpg);
}

.service__top {
  margin-bottom: 100px;
}

.service__top__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 50px;
}

.service__top_left {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.service__sub__title {
  font-size: 3rem;
  color: #121b62;
  font-weight: bold;
  margin-bottom: 100px;
  position: relative;
}

.service__sub__title small {
  font-size: 0.6em;
}

.service__sub__title::after {
  content: '';
  position: absolute;
  height: 1px;
  width: 30%;
  background-color: #121b62;
  left: 0;
  bottom: -50%;
}

.service__top_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 50%;
          flex: 0 1 50%;
}

.service__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.service__nav .tab__menu.is-active a {
  opacity: 0.5;
}

.service__nav .tab__menu a {
  color: #121b62;
  font-weight: bold;
  padding-left: 23px;
  position: relative;
}

.service__nav .tab__menu a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 18px;
  height: 18px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url(../images/arrow1.svg);
}

.main-about.section-bg-img.main-service::before {
  width: calc(100% / 0.5);
}

.main-service .service__container .service__inner h1 {
  height: 54px;
}

.main-service .service__container .service__inner h1 > span:nth-child(1) {
  width: auto;
  height: 55px;
}

.main-service .service__container .service__inner h1 > span:nth-child(2) {
  font-size: 2rem;
}

.main-service .service__container .service__inner h1 img {
  width: inherit;
  height: 100%;
  margin-right: 38px;
  padding-right: 38px;
}

.service__sub__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 25px;
}

.service__sub__tit1, .tab__contents2 .service__sub__tit1 {
  position: relative;
  height: 20px;
  min-height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.service__sub__tit1::after, .tab__contents2 .service__sub__tit1::after {
  content: '';
  width: 1px;
  height: 40px;
  background-color: #121b62;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: -45%;
}

.service__sub__tit1 img, .tab__contents2 .service__sub__tit1 img {
  vertical-align: middle;
  height: 100%;
  width: auto;
}

.tab__contents {
  display: none;
}

.tab__contents.is-show {
  display: block;
}

.tab__contents2 .service__sub__tit1 {
  margin-right: 100px;
}

.tab__contents2 .service__sub__tit1::after {
  right: -140%;
}

.service__sub__list {
  margin-top: 50px;
  padding: 25px;
  color: #5a5a5a;
  border: 1px solid #ababab;
}

.service__sub__list li {
  padding-left: 1em;
  text-indent: -1em;
  text-align: justify;
}

.service__sub__list li.service__sub__bottom {
  font-size: 1.5rem;
  margin-top: 20px;
}

.service__sub__list li.service__sub__middle:not(:first-child) {
  margin-top: 20px;
}

.service__sub__tit2 {
  width: 280px;
  padding-left: 100px;
}

.service__sub__list-title {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 15px;
}

.inner-reverse {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.servece__inner_left {
  right: 0;
  width: 93.5%;
}

.service_txt__look {
  display: inline-block;
  color: #121b62;
  border: 1px solid #121b62;
  padding: 10px;
  font-weight: bold;
  margin-bottom: 15px;
}

.ins_contents h2 {
  font-size: 3rem;
  color: #121b62;
  font-weight: bold;
}

.ins__inner {
  background-color: #f2f9fd;
  padding: 40px;
  position: relative;
}

.ins__inner:not(:last-child) {
  margin-bottom: 150px;
}

.table__col {
  border-top: 1px solid #acacac;
  border-bottom: 1px solid #acacac;
}

.table__col dt {
  background-color: #fcfada;
  border-left: 1px solid #acacac;
  border-right: 1px solid #acacac;
}

.table__col dt p {
  padding: 10px;
}

.table__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-top: 1px solid #acacac;
  border-left: 1px solid #acacac;
  overflow: hidden;
}

.table__container > li {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 150px;
  border-right: 1px solid #acacac;
}

.table__container > li p {
  padding: 10px;
  text-align: center;
}

.table__container > li.table__col-1 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 10%;
          flex: 0 1 10%;
}

.table__container > li.table__col-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 20%;
          flex: 0 1 20%;
}

.table__container > li.table__col-3 {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 70%;
          flex: 0 1 70%;
}

.table__container > li.table__col-3 > ul {
  width: 100%;
}

.table__container > li.table__col-3 p {
  text-align: left;
}

.col__3-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.col__3-flex:not(:last-child) {
  border-bottom: 1px dashed #acacac;
}

.col__3-flex > p:nth-child(1) {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 5%;
          flex: 0 1 5%;
  text-align: center;
  border-right: 1px dashed #acacac;
}

.col__3-flex > p:nth-child(2) {
  text-align: left;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

#video {
  position: relative;
  overflow: hidden;
  height: 100vh;
}

#video iframe {
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.ins__list {
  margin-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: 65%;
}

.ins__list > li > p {
  font-weight: bold;
  color: #121b62;
  margin-bottom: 15px;
}

.ins__list > li:not(:last-child) {
  margin-bottom: 35px;
}

.ins__list__menu > li {
  background-color: #fff;
  padding: 28px;
}

.ins__list__menu > li b {
  color: #121b62;
  font-weight: bold;
}

.ins__list__menu > li:not(:last-child) {
  margin-bottom: 70px;
}

.ins__title {
  border: 2px solid #121b62;
  background-color: #fff;
  color: #121b62;
  text-align: center;
  padding: 2px 50px;
  display: inline-block;
  position: absolute;
  font-weight: bold;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 30px;
  top: -18px;
}
/*# sourceMappingURL=style.css.map */